@import '../../_variables.scss';
@import '../../_mixins.scss';

.SignUpPage {
  @include mainScreenComponent(column);
  font-family: $titles;
}
.SignUp-action-area {
  @include actionArea(80vh, 75vh, $bodyWarmLight, $bodyWarmDark);
  margin-bottom: 10vh;
}

.SignUp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.SignUp-submit {
  @include button($bodyCoolLight, $bodyCoolDark);
}
.addressSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}
.SignUpPage-footer {
  align-self: baseline;
}

#photo-preview {
  height: 10vh;
  width: 10vh;
  border-radius: 1vh;
  object-fit: cover;
}
