.Profile {
  width: 100vw;
  height: 100vh;
}

 .profileInfo {
   justify-content: center;
   display: inline-block;
   align-items: center;
   text-align: center;
   height: 78vh;
   width: 60vw;
   margin: 2vw 20vw 2vw 20vw;
   box-shadow: 10px 5px 5px hsla(0, 0%, 24%, .15);
   font-family: 'Lato', sans-serif;
   border: 10px double hsl(127, 18%, 71%);
 }
