@import '../../variables.scss';
@import '../../mixins.scss';

.RecipeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: 60vh;
  margin: 2.5vh;
  border-radius: 5vw;
  background-color: $accentCool;
  box-shadow: 10px 10px 5px 2px $bodyWarmLight;
}

.RecipeCard-header {
  width: 45vw;
  height: 15%;
  position: relative;
  background-color: $accentCool;
  border-radius: 5vw 5vw 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
.RecipeCard-name {
  color: $bodyCoolDark;
  margin-left: 2vw;
  font-family: $titles;
  font-size: 1.2rem;
  font-weight: 600;
}
.RecipeCard-rating{
  margin-right: 2vw;
}
.bottom-section{
  overflow: scroll;
  align-self: flex-start;
  position: relative;
  border-radius: 0 0 5vw 5vw;
  padding-bottom: 2vw;
  font-family: $body;
}
.RecipeCard-image {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.nonprofit-name {
  font-family: $titles;
  color: $accentWarm;
  margin: 1vw 2vw 1vw 2vw;
}

.RecipeCard-story {
  margin: 1vw 2vw 4vw 2vw;
}

.purchase-button{
  @include button($bodyWarmLight, $bodyCoolDark);
  margin-left: 15vw;
}
