/*GENERAL RECIPECARD STYLING*/

.RecipeCard {
  display: flex;
  flex-direction: row;
  width: 60vw;
  height: 40vh;
  padding: 1vh;
  margin: 1vh;
  border: 2px solid black;
}

/*LEFT SECTION OF RECIPECARD*/

.left-section {
  margin: 1vw;
  border: 2px solid black;
  height: 36vh;
  width: 40%;
}

.leftHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recipe-name {
  width: 100%;
  border-bottom: 2px solid black;
  margin-top: .25vh;
  text-align: center;
}

.recipe-rating {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  margin-top: .01vh;
  padding: .3vh;
  width: 3.5vh;
  text-align: center;
}

img {
  height: 20vh;
}

.left-footer {
  display: flex;
  flex-direction: column;
}

.nonprofit-name {
  text-align: center;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  padding: 1vh;
  margin: 0;
}

.purchase-button {
  border: none;
  background: none;
  width: 100%;
}

/*RIGHT SECTION OF RECIPECARD*/

.right-section {
  margin: 1vw;
  border: 2px dotted black;
  height: inherit;
  width: 50%;
}
