@import '../../_variables.scss';

.MainPage {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.main-recipe-section {
  width: 100vw;
  height: 100vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  background-color: $lightestShade;
}
