
.CallToAction {
  width: 100vw;
  height: 100vh;
  color: hsl(0, 0%, 24%)
}

.action-items {
  height: 88vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.prompt {
  margin-bottom: 3vh;
}

.options {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: hsl(105, 30%, 68%);
  color: hsl(0, 10%, 90%);
  margin: 1vw;
  padding: .5rem;
  border: 5px outset hsl(0, 0%, 90%);
}

.options:hover {
  border: 5px inset hsl(0, 0%, 90%);
}
