.RecipeBook {
  display: flex;
  flex-direction: row;
}
.RecipeBook-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 10vw;
  background-color: grey;
}
img {
  width: 6vw;
  height: 6vw;
  margin: 2vw;
}
section {
  margin: 5vh 5vw 5vh 5vw;
  width: 80vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 90%);
}
