.Footer {
  width: 100vw;
  height: 8vh;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: hsl(127, 18%, 71%);
  color: hsl(0, 0%, 24%);
  font-family: 'Josefin Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  border-top: 5px double hsl(127, 30%, 82%);
}
.nav {
  text-decoration: none;
  margin: 1vh;
  color: hsl(0, 0%, 24%);
}
.nav:hover {
  text-decoration: line-through;
  font-size: 1.1rem;
}
.logo {
  font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 0%, 24%);
  text-decoration: none;
  margin: .5vh .5vh .5vh 1.5vh;
}

a:hover {
  text-decoration: none;
  color: hsl(127, 18%, 45%);
  font-size: 1.45rem;
}
