$lightestShade: hsl(48, 91%, 96%);
$darkestShade: hsl(271, 100%, 8%);
$bodyWarmLight: hsl(49, 87%, 69%);
$bodyWarmDark: hsl(43, 88%, 61%);
$bodyCoolLight: hsl(191, 50%, 60%);
$bodyCoolDark: hsl(236, 54%, 59%);
$accentWarm: hsl(333, 58%, 64%);
$accentCool: hsl(91, 38%, 66%);

$logo: 'Pacifico', cursive;
$titles: 'Comfortaa', cursive;
$body: 'Roboto', sans-serif;
